.main-fav {
    min-height: 75vh;
}

.noFavorites {
    text-align: center;
}



.delete-fav {
    margin-bottom: 3rem;

    & svg {
        margin: 2rem;
    }
}

@media only screen and (max-width: 600px) {}