* {
  z-index: 1;
}

.nav-ghost {
  height: 10vh;
}

section {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;

  & .favo,
  .noFound {
    color: var(--links);
  }
}