main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #00FF66; */

  border-radius: 2rem;
  margin: 2%;

  min-height: 10rem;


  & .favo {
    color: #00FF66;
  }
}

header {
  /* border-radius: 2rem; */
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #00FF66;
  padding-bottom: 2rem;
  padding-top: 1rem;

  & h1 {
    color: #00FF66;
  }
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

@media only screen and (max-width: 600px) {
  header {
    padding-bottom: 0.5rem;
  }

  form {
    flex-direction: column;
    gap: 0.5rem;
  }
}

form input {
  margin: 0;
}

.search {
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.sort {
  display: flex;
  gap: 2rem;
  align-items: center;

}

.movies {
  padding: 2rem;
  width: 60vw;
  list-style: none;
  margin: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  align-items: last baseline;
  text-align: center;
  justify-items: center;

  & h3,
  p {
    display: none;
    position: absolute;
    color: white;
    text-align: center;
    font-size: x-large;
    text-shadow: 2px 5px 6px rgba(0, 0, 0, 1);
    padding-left: 3rem;
    padding-right: 3rem;
  }

  & h3 {
    top: 5%;
    left: 0;
  }

  & p {
    top: 75%;
    left: 0%
  }
}

.movie {
  position: relative;
  transition: all 0.2s ease-in-out;
  color: black;
  padding: 0.5rem;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 1);
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 250px;

  & img {
    border-radius: 0%;
    min-height: 330px;
    max-height: 330px;
  }
}

.movie:hover {
  position: relative;
  scale: 1.01;

  & h3,
  p {
    display: block;
  }

}